# ---------- Postgres métastore Kestra ----------
KESTRA_DB_PASSWORD=kestra_pwd_a_changer

# ---------- Postgres données projet ----------
DATA_DB_NAME=sport_data
DATA_DB_USER=sds_admin
DATA_DB_PASSWORD=data_pwd_a_changer

# ---------- Services externes ----------
ORS_API_KEY=ta_cle_openrouteservice_ici
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
