# Secrets
.env
.env_encoded

# Python
__pycache__/
*.pyc
.venv/
venv/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Great Expectations
great_expectations/uncommitted/

# Power BI temp
*.tmp

# OS
.DS_Store
Thumbs.db

# Données sources sensibles (RH)
data/
