# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Output / Data
output/*
!output/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Spark
spark-warehouse/
checkpoints/
